/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


/*.heroBanner:hover {
  background: linear-gradient(to right, #ffe200, #e87ea0); /* 添加渐层色效果 */
.heroBanner {
  padding: 15rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #4cc844, #e6cb00, #e87ea0);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heroBanner:hover {
  //animation: gradientAnimation 10s ease infinite; /* 停止背景渐变动画 */
  //background: linear-gradient(45deg, #4cc844, #e6cb00, #e87ea0);
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
